{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="cover-photo-holder">
    <img class="cover-photo" src="{{store.cover.url}}" />
  </div>
  <ul id="store-navigation">
    <li>About</li>
    <li>items</li>
    <li>rating</li>
    <li>location</li>
  </ul>
</div>
<!-- Button trigger modal -->
<button
  class="btn btn-primary btn-lg"
  data-toggle="modal"
  data-target="#upload-product-modal"
>
  Launch demo modal
</button>

  <!-- /.modal -->
  <div id="app"></div>
  {% endblock content%}
</div>
